@import '../../constants/sass';

.GridBox {
  position: relative;
  width: 100%;
  height: 78px;
  background-color: $grid-box-bg-color;
  border: solid 1px $grig-box-inactive-border-color;
  cursor: pointer;

  &.active {
    border-color: $grid-box-active-border-color;
    box-shadow: 0 0 8px $grid-box-active-border-color;
  }

  img {
    width: 100%;
    height: auto;
  }

  &__corners {
    position: absolute;
    display: none;
    width: 76px;
    height: 76px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    animation: expanse 0.9s cubic-bezier($acelerated-easing) infinite;

    &.active {
      display: block;
    }
  }

  &__corner {
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 7px solid #f8f7d9;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    z-index: 5;

    &.top-left {
      transform: rotate(-45deg);
      top: 0;
      left: -3px;
    }

    &.top-right {
      transform: rotate(45deg);
      top: 0;
      right: -3px;
    }
    &.bottom-right {
      transform: rotate(135deg);
      bottom: 0;
      right: -3px;
    }
    &.bottom-left {
      transform: rotate(-135deg);
      bottom: 0;
      left: -3px;
    }
  }

  &__new-item {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;

    animation: spin 0.9s cubic-bezier($acelerated-easing) forwards infinite;

    svg {
      width: 100%;
      height: 100%;
      fill: $grid-box-new-item-color;
    }
  }

  &__bonus {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__quantity-box {
    position: absolute;
    color: $app-font-color;
    bottom: -3px;
    right: -4px;
    border: 1px solid $grig-box-inactive-border-color;
    padding: 2px 9px;
    background-color: $grid-box-bg-color;
  }
}
