$bg-color: #000000;
$border-color: #2F3124;

.box {
  width: 100%;
  height: 78px;
  background-color: $bg-color;
  border: solid 1px $border-color;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
}