@import '../../constants/sass';

.Category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 40px;
  border-bottom: solid 1px $category-inactive-color;
  padding-bottom: 10px;
  cursor: pointer;
  @include category-transition;

  svg {
    width: 28px;
    height: 30px;
    fill: $category-inactive-color;
    @include category-transition;
  }

  &.active {
    border-bottom: solid 1px $app-font-color;
  
    svg {
      fill: $app-font-color;
    }
}
}
