@import './constants/sass';

.App {
  background-color: $app-bg-color;
  min-height: 100vh;
  overflow: hidden;

  &__items-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__information-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;

    & .iconography {
      display: flex;
      align-items: center;
    }
  }
}